<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <title>Application</title>
</head>

<body>
  <header>
    <h1>We Can't Wait for the SQL!</h1>
  </header>
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="We Can't Wait for the SQL" width="30" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a id="home-btn" class="nav-link" href="/">Home</a>
          {{#if loggedIn}}
          <a id="dashboard-btn" class="nav-link" href="/dashboard">Dashboard</a>
          {{/if}}
          <a id="about-btn" class="nav-link" style="color: #adb5bd;" data-bs-toggle="modal"
            data-bs-target="#about-us-modal">About Us</a>
          <div class="modal fade" id="about-us-modal" tabindex="-1" aria-labelledby="aboutUsModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="color: #adb5bd;">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" style="color: #adb5bd;">About Us</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>
                    We Can't Wait for the SQL is an application designed for movie
                    enthusiasts to participate in discussions about their
                    favorite films and express their personal opinions through reviews.
                    Upon creating a login, users gain access to search for their
                    preferred movies and subsequently involve themselves in lively
                    discussions on trending topics related to the selected film.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <a id="contact-btn" class="nav-link" href="/contact">Contact</a>
          {{#if loggedIn}}
          <a id="logout-btn" style="color: #adb5bd;" class="nav-link">Logout</a>
          {{else}}
          <a id="login-btn" class="nav-link" href="/login">Login</a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>
  <main>
    {{{body}}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="../../public/movie.js"></script>
</body>

</html>