{{#if loggedIn}}
<section class="card">
  <div class="card-body">
    <p>
      <a href="/api/users/{{user_id}}">{{user.username}}</a>: {{comment_text}}
    </p>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}