{{#if loggedIn}}
<section class="card">
  <div class="card-body">
    <p>
      <a href="/api/users/{{comment.user_id}}">{{comment.user_id}}</a>: {{comment.comment_text}}
    </p>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}