<section class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h1>{{user.username}}</h1>
        </div>
    </div>
    {{#if loggedIn}}
    <div class="container">
        <h4>Posts</h4>
        <div>
        {{#each user.posts as |post|}}
        {{> post-details}}
        {{/each}}
        </div>
    </div>
    {{else}}
    <a href="/login">You must login first to view this content.</a>
    {{/if}}
</section>