<section class="container text-center" style="margin-top: 20px;">
    <img src="/images/app-logo.svg" style="width: 50%; height: 50%;">
    <p>Welcome to our site!
        <br>
        Use the search bar below to explore your favorite movie and post content.</p>
    <form id="search-form" class="d-flex" role="search">
        <input id="search-bar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button id="search-btn" class="btn btn-info" type="button">Search</button>
    </form>
    <div class="card" style="margin-top: 20px;">
        <h3>Most Recent Posts</h3>
        {{#if loggedIn}}
            {{#if posts.length}}
                {{#each posts as |post|}}
                {{> post-details}}
                {{/each}}
            {{else}}
            <p>No posts yet. Search for a movie to create a post.</p>
            {{/if}}
        {{else}}
        <a href="/login">Login or create an account to join the conversation!</a>
        {{/if}}
    </div>
</section>

<script src="/js/search.js"></script>