<section class="row" style="padding: 20px;">
    <!--Login Form-->
    <div class="card col" style="margin: 10px;">
        <div class="card-body">
            <h3 class="text-center">Login</h3>
            <p class="text-center" id="login-status" style="color: red;"></p>
            <form class="form" id="login-form">
                <div class="mb-3">
                    <label for="email-login" class="form-label">Email</label>
                    <input id="email-login" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password-login" class="form-label">Password</label>
                    <input id="password-login" type="password" class="form-control">
                </div>
                <button id="login-submit-btn" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <!--Sign Up Form-->
    <div class="card col" style="margin: 10px;">
        <div class="card-body">
            <h3 class="text-center">Sign Up</h3>
            <p class="text-center" id="signup-status" style="color: red;"></p>
            <form class="form" id="signup-form">
                <div class="mb-3">
                    <label for="username-signup" class="form-label">Username</label>
                    <input id="username-signup" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email-signup" class="form-label">Email</label>
                    <input id="email-signup" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password-signup" class="form-label">Password</label>
                    <input id="password-signup" type="password" class="form-control">
                </div>
                <button id="signup-submit-btn" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>