<section class="card">
  <div class="card-body">
    <h3 class="post-title">{{post.title}}</h3>
    <p>{{post.description}}</p>
    <a id="view-comments-btn" class="btn btn-primary">View Comments</a>
    <!-- If the user is logged in, render the gallery content -->
    <div id="comments-display" class="flex-row justify-center">
        <div class="card">
            <div class="card-body">
                <a id="show-comment-post" onclick="toggleAddComment()">Add Comment</a>
                <div id="add-comment-section" style="display: none;">
                    <p id="add-comment-status" style="color: red;"></p>
                    <form id="add-comment-form" class="form" style="padding: 10px;">
                        <div class="mb-3">
                            <input id="add-comment-text" type="text" class="form-control">
                        </div>
                        <button id="add-post-submit-btn" class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
                <div id="list-comment-section">
                {{#each post.comments as |comment|}}
                {{> comment-details}}
                {{/each}}
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

<script href="/js/add-comment.js"></script>
<script>
    function toggleAddComment() {
        var addCommentSection = document.getElementById("add-comment-section");
        var showAddComment = document.getElementById("show-add-comment");
        if (addCommentSection.style.display === "none") {
            addCommentSection.style.display = "block";
            showAddComment.textContent = "Cancel";
        } else {
            addCommentSection.style.display = "none";
            showAddComment.textContent = "Add Comment";
        }
    };
</script>