<section class="container position-relative" style="margin: 20px;">
  <div class="row">
    <div class="col-auto">
      <h2>Welcome to {{username}}'s Page</h2>
    </div>
  </div class="container">
    {{#if posts.length}}
    <div class="user-post-list">
        <h3 class="text-center" style="padding: 10px;">{{username}}'s Posts</h3>
        <p id="post-status" style="color: #f1aeb5;"></p>
        {{#each posts as |post|}}
        {{> post-details}}
        {{/each}}
        {{else}}
        <p>{{username}} has no posts yet!</p>
        {{/if}}
    </div>
  </div>
</section>